<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.max.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}">
	{% block head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >深智机器人</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a href="{{ url_for('index') }}">首页 <span class="sr-only">(current)</span></a></li>
                      <li><a href="{{ url_for('question') }}">发布问答</a></li>
                      <li><a href="{{url_for('alice')}}">Alice</a></li>
                      <li><a href="{{ url_for('Custom') }}">Custom</a></li>
                      <li><a href="{{url_for('Custom_design')}}">Custom规则设置</a></li>
                      <li><a href="{{url_for('Custom_list')}}">Custom规则列表</a></li>
                      <li><a href="{{url_for('Tree')}}">Tree</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    {% block body %}{% endblock %}
</div>

<footer>
	<div class="container">
		<div class="row">
               <div class="col-md-12 col-sm-12 navbar-fixed-bottom">
                    <div class="wow fadeInUp footer-copyright" data-wow-delay="1.8s">
                         <p>Copyright &copy; 2017 www.deepintel.com
                    <a href="http://www.deepintell.cn/" target="_blank" title="深智机器人">深智机器人</a>
                    </div>
				<ul class="wow fadeInUp social-icon" data-wow-delay="2s">
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <li><a href="#" class="fa fa-google-plus"></a></li>
                         <li><a href="#" class="fa fa-dribbble"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>

		</div>
	</div>
</footer>

<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.parallax.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/smoothscroll.js') }}"></script>
<script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>
<script src="{{ url_for('static',filename='js//gg_bd_ad_720x90.js') }}"></script>
<script src="{{ url_for('static',filename='js/follow.js') }}"></script>
</body>
</html>