{% extends 'base.html' %}

{% block title %}Custom规则设置{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/YX_aiml.css') }}"  type="text/css" />
{% endblock %}
{% block body %}
<style>
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
</style>
<script type="text/javascript">
function beforeSubmit(form){
if(form.matchOne.value==''){
alert('匹配正则表达式不能为空！');
form.matchOne.focus();
return false;
}
if(form.requestOne.value==''){
alert('回复不能为空！');
form.requestOne.focus();
return false;
}
if(form.matchMul.value==''){
alert('回复不能为空！');
form.matchMul.focus();
return false;
}
if(form.responseMul.value==''){
alert('回复不能为空！');
form.responseMul.focus();
return false;
}
return true;
}
</script>
<section class="parallax-section">
    <div class="wow fadeInUp " data-wow-delay="0.6s" style="position:absolute; height:400px; overflow-y:auto">
          <ul >
          {%if(customlist != None)%}
          <p >{{customlist}}</p>
          {% endif %}
          </ul>
    </div>
</section>
<section id="contact" class="parallax-section">
    <h3 class="color-black">Custom规则添加说明。可以通过以下三种方式添加：单条规则、多条规则、文件添加。格式要求：ownerID, userID, botID, 正则匹配表达式, 回复语句</h3>
     <div class="bg-info container">
         <h4>存在的规则集如下</h4>
         <div class="wow fadeInUp " data-wow-delay="0.6s" style="position:absolute; height:400px; overflow-y:auto">
             <ul id="info">
                 {%if(customlist != None)%}
                 <p class ="text-center">{{customlist}}</p>
                 {% endif %}
             </ul>
         </div>
     </div>
     <div class="bg-info container">
          <h3>添加单条规则</h3>
         <div id="contact-form1">
              <form action="{{url_for('add_oneCustom')}}" method="post"  onSubmit=" return beforeSubmit(this);">
                   <div class="wow fadeInUp" data-wow-delay="1s">
                        <input name="ownerIdOne" type="text" class="form-control" id="ownerIdOne" placeholder="ownerId">
                   </div>
                   <div class="wow fadeInUp" data-wow-delay="1.2s">
                        <input name="userIdOne" type="text" class="form-control" id="userIdOne" placeholder="userId">
                   </div>
                  <div class="wow fadeInUp" data-wow-delay="1.2s">
                        <input name="botIdOne" type="text" class="form-control" id="botIdOne" placeholder="userId">
                   </div>
                   <div class="wow fadeInUp" data-wow-delay="1.2s">
                        <input name="matchOne" type="text" class="form-control" id="matchOne" placeholder="匹配表达式">
                   </div>
                  <div class="wow fadeInUp" data-wow-delay="1.2s">
                        <input name="requestOne" type="text" class="form-control" id="responseone" placeholder="回复语句">
                   </div>
                  <div class="wow fadeInUp pull-right" data-wow-delay="1.6s" >
                        <input name="submit" type="submit" class="pull-right"  value="添加" >
                  </div>
              </form>
        </div>
     </div>
         <div class="bg-info container">
          <h3>添加多条规则，规则集格式为：例 [["^.*你好    $", "你好"], ["^.*你好吗$","你好吗"], ["^.*你好\?$#","你好?"], ["^.*你好china\?$", " 你好?"]]</h3>
         <div id="contact-form2">
              <form action="{{url_for('add_MulCustom')}}" method="post" onSubmit=" return beforeSubmit(this);">
                   <div class="wow fadeInUp" data-wow-delay="1s">
                        <input name="ownerIdMul" type="text" class="form-control" id="ownerIdMul" placeholder="ownerId">
                   </div>
                   <div class="wow fadeInUp" data-wow-delay="1.2s">
                        <input name="userIdMul" type="text" class="form-control" id="userIdMul" placeholder="userId">
                   </div>
                  <div class="wow fadeInUp" data-wow-delay="1.2s">
                        <input name="botIdMul" type="text" class="form-control" id="botIdMul" placeholder="userId">
                   </div>
                   <div class="wow fadeInUp" data-wow-delay="1.2s">
                        <input name="matchMul" type="text" class="form-control" id="matchMul" placeholder="规则集">
                   </div>
                  <div class="wow fadeInUp pull-right" data-wow-delay="1.6s" >
                        <input name="submit" type="submit" class="pull-right"  value="添加" >
                  </div>
              </form>
        </div>
     </div>

             <div class="bg-info container">
          <h3>文件添加规则，文件规则为 [match]#@#@#@[response],一条规则占一行例如：##.*hello$ #@#@#@ Good day!</h3>
         <div id="contact-form3">
              <form action="{{url_for('add_FileCustom')}}" method="post" enctype=multipart/form-data >
                   <div class="wow fadeInUp" data-wow-delay="1s">
                        <input name="ownerIdFile" type="text" class="form-control" id="ownerIdFile" placeholder="ownerId">
                   </div>
                   <div class="wow fadeInUp" data-wow-delay="1.2s">
                        <input name="userIdFile" type="text" class="form-control" id="userIdFile" placeholder="userId">
                   </div>
                  <div class="wow fadeInUp" data-wow-delay="1.2s">
                        <input name="botIdFile" type="text" class="form-control" id="botIdFile" placeholder="userId">
                   </div>
                  <div>
                        <div style="float:left;margin-bottom:10px;width:200px;height:40px">
                            <input type="file" name="file">
                        </div>
                       <div style="float:left;margin-bottom:0px;width:10px;">
                            <input name="submit" type="submit"   value="上传" >
                       </div>
                  </div>
              </form>
        </div>
     </div>
</section>
{% endblock %}