{% extends 'base.html' %}

{% block title %}Custom{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/YX_aiml.css') }}"  type="text/css" />
{% endblock %}
{% block body %}
<style>
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
</style>
<section id="contact" class="parallax-section">
     <div class="bg-info container">
          <div class="row">
               <div class="bg-dark col-md-3 col-sm-12">
                    <div class="contact-form">
                         <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                              <ul>
                                <li class="color-white">userId设置值：{{userId}}</li>
                                <li class="color-white">ownerId设置值：{{ownerId}}</li>
                                <li class="color-white">botId设置值：{{botId}}</li>
                              </ul>
                         </div>

                         <div id="contact-form">
                              <form action="{{url_for('getIdCustom')}}" method="post"  >
                                   <div class="wow fadeInUp" data-wow-delay="1s">
                                        <input name="userId" type="text" class="form-control" id="userId" placeholder="userId">
                                   </div>
                                   <div class="wow fadeInUp" data-wow-delay="1.2s">
                                        <input name="botId" type="text" class="form-control" id="botId" placeholder="botId">
                                   </div>
                                   <div class="wow fadeInUp" data-wow-delay="1.2s">
                                        <input name="ownerId" type="text" class="form-control" id="ownerId" placeholder="owner">
                                   </div>
                                    <div class="wow fadeInUp pull-right" data-wow-delay="1.6s" >
                                        <input name="submit" type="submit" class="pull-right" id="submit" value="设置" >
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>

               <div class="bg col-md-6 col-sm-12">
                   <div id="convo" data-from="Sonu Joshi"  >
                        {% if history != None or history != ""%}
                         <ul class="chat-thread" id = "aaa">
                             {% for dialog in history %}
                            <li>{{ dialog.dialog_context }}</li>
                            <li>{{ dialog.dialog_answer }}</li>
                            {% endfor %}
                         </ul>
                         <script type="text/javascript">
       function myfun()
　　{
 　　   var convo=document.getElementById('aaa');
                      convo.scrollTop=convo.scrollHeight;
//                      alert(convo.scrollHeight)
　　}
　　window.onload = myfun;

                    </script>
                        {% endif %}
                    </div>
                       <form action="{{ url_for('custom_detail') }}" method="POST" class="form-horizontal">
                            <div class="form-group wow fadeInUp " data-wow-delay="1s">
                                    <textarea name="context" type="text" align="right" class="form-control" style="word-break:break-all" placeholder="请输入对话内容" id = "context">
                                    </textarea>
                                    <div class="wow fadeInUp pull-right" data-wow-delay="1.6s" >
                                        <input name="submit" type="submit" class="pull-right" value="提交" >
                                   </div>
                            </div>
                       </form>
               </div>

               <div class="bg-dark col-md-3 col-sm-12">
                     <div class="contact-thumb">
                         <div class="wow fadeInUp " data-wow-delay="0.6s" style="position:absolute; height:400px; overflow-y:auto">
                              <ul id="debug">
                              {%if(yx_aiml != None)%}
                              <p class ="text-center">{{yx_aiml}}</p>
                              {% endif %}
                              </ul>
                         </div>
                    </div>
                   <div></div>
               </div>
          </div>
     </div>
</section>
{% endblock %}