{% extends 'base.html' %}

{% block title %}Custom规则列表{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block body %}
   <ul class="question-list-group">
       {% for question in customlist %}
       {% if question != None%}
           <li>
               <div class="question-group">
                   {% if question.ruleID != None%}
                   <p class="question-content">ruleID:{{ question.ruleID }}</a></p>
                   {% endif %}
                   {% if question.ownerID != None%}
                   <p class="question-content">ownerID:{{ question.ownerID }}</a></p>
                   {% endif %}
                   {% if question.userID != None%}
                   <p class="question-content">userID:{{ question.userID }}</a></p>
                   {% endif %}
                   {% if question.botID != None%}
                   <p class="question-content">botID:{{ question.botID }}</a></p>
                   {% endif %}
                   {% if question.matched != None%}
                   <p class="question-content">匹配正则表达式:{{ question.matched }}</a></p>
                   {% endif %}
                   {% if question.response != None%}
                   <p class="question-content">匹配结果:{{ question.response }}</p>
                   {% endif %}
               </div>
           </li>
       {% endif %}
       {% endfor %}
   </ul>

{% endblock %}