{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block body %}
   <ul class="question-list-group">
       {% for question in questions %}
       {% if question != None%}
           <li>
               <div class="avatar-group">
                   <img src="{{ url_for('static',filename='images/logo.png') }}"
                   alt="" class="avatar">
               </div>
               <div class="question-group">
                   {% if question.titel != None%}
                   <p class="question-title">{{ question.title }}</a></p>
                   {% endif %}
                   {% if question.context != None%}
                   <p class="question-content">{{ question.context }}</p>
                   {% endif %}
                   <div class="question-info">
                       <span class="question-time">{{ question.create_time }}</span>
                   </div>
               </div>
           </li>
       {% endif %}
       {% endfor %}
   </ul>

{% endblock %}