{% extends 'base.html' %}

{% block title %}聪明的一休哥{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/YX_aiml.css') }}" media="screen" type="text/css" />
{% endblock %}

{% block main %}
<body>
    <div class="row">
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
     <div class="span1">1</div>
</div>
{% endblock %}