{% extends 'base.html' %}

{% block title %}Tree{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/YX_aiml.css') }}"  type="text/css" />
{% endblock %}
{% block body %}
<style>
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
</style>
<section id="contact" class="parallax-section">
     <div class="bg-info container">
          <div class="row">

               <div class="bg-dark col-md-3 col-sm-12">
                    <div class="contact-form">
                         <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                              <h3 class="color-white">设置UserId、OwnerId、BotId</h3>
                         </div>

                         <div id="contact-form">
                              <form action="{{url_for('alice_detail')}}" method="post"  >
                                   <div class="wow fadeInUp" data-wow-delay="1s">
                                        <input name="fullname" type="text" class="form-control" id="userId" placeholder="userId">
                                   </div>
                                   <div class="wow fadeInUp" data-wow-delay="1.2s">
                                        <input name="email" type="text" class="form-control" id="botId" placeholder="botId">
                                   </div>
                                   <div class="wow fadeInUp" data-wow-delay="1.2s">
                                        <input name="email" type="text" class="form-control" id="ownerId" placeholder="owner">
                                   </div>
                                    <div class="wow fadeInUp pull-right" data-wow-delay="1.6s" >
                                        <input name="submit" type="submit" class="pull-right" id="submit" value="设置" >
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>

               <div class="bg col-md-6 col-sm-12">
                    <div id="convo" data-from="Sonu Joshi" >
                         <ul class="chat-thread">
                             <li>Are we meeting today?</li>
                             <li>yes, what time suits you?</li>
                             <li>I was thinking after lunch, I have a meeting in the morning</li>
                             <li>Are we meeting today?</li>
                             <li>yes, what time suits you?</li>
                             <li>I was thinking after lunch, I have a meeting in the morning</li>
                             <li>Are we meeting today?</li>
                             <li>yes, what time suits you?</li>
                             <li>I was thinking after lunch, I have a meeting in the morning</li>
                             <li>Are we meeting today?</li>
                             <li>yes, what time suits you?</li>
                             <li>I was thinking after lunch, I have a meeting in the morning</li>
                         </ul>
                    </div>
                       <form action="{{ url_for('alice_detail') }}" method="POST" class="form-horizontal">
                            <div class="form-group wow fadeInUp " data-wow-delay="1s">
                                    <textarea name="dialog_content" type="text" align="right" class="form-control" style="word-break:break-all" placeholder="请输入对话内容" >
                                    </textarea>
                                    <div class="wow fadeInUp pull-right" data-wow-delay="1.6s" >
                                        <input name="submit" type="submit" class="pull-right" value="提交" >
                                   </div>
                            </div>
                       </form>
               </div>

               <div class="bg-dark col-md-3 col-sm-12">
                     <div class="contact-thumb">
                         <div class="wow fadeInUp " data-wow-delay="0.6s" style="position:absolute; height:400px; overflow-y:auto">
                              <ul id="debug">
                              {%if(yx_aiml != None)%}
                              <p class ="text-center">{{yx_aiml}}</p>
                              {% endif %}
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
{% endblock %}